@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.portfolio-container{
    min-height: 100vh;
    width:100%;
    display:flex;
}

.navlist{
    display:flex;
    gap:3.5rem;
    height:15vh;
    width:100%;
    justify-content: center;
    align-items: center;
    position:fixed;
    
}

.left-container, .right-container{
    display:flex;
    align-items:center;
}

.left-container{
    width:70%;
    background:#262525;
    padding-left:3rem;
}

.right-container{
    width:30%;
    background:linear-gradient(-45deg,#3877FF,#262525);
}

.icon{
    color:#3877FF;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    display:flex;
    gap:3rem;
    flex-direction: column;
    cursor:pointer;
}

.icons::after{
    color:#3877FF;
}


.content{
    margin-left: 3rem;
}

.content b{
    font-size:1.5rem;
    color:#fff;
}

.content h1{
    font-size:4rem;
    color:#5DB9EE;
}

.name{
    color:#5DB9EE;
}

.content p{
    width:38rem;
    color:#fff;
    margin: 1.1rem 0 3rem 0;
    line-height:1.8rem;
}

.btn-container button{
    border:.1rem solid #5DB9EE;
    font-size:1.1rem;
    padding:.8rem 1.5rem;
    border-radius:.5rem;
    cursor:pointer;
    transition:.5s ease;
}

button:nth-child(1){
    color:#262525;
    background: #5DB9EE;
}

button:nth-child(2){
    background:transparent;
    color:#5DB9EE;
    margin-left:2rem;
    text-decoration:none;
}

button:nth-child(1):hover{
    color:#5DB9EE;
    background:transparent;
}

button:nth-child(2):hover{
    color:#262525;
    background:#5DB9EE;
}

.icons .fa-brands{
    cursor:pointer;
    background:linear-gradient(#fff,#3877FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
}

.circle:nth-child(1){
    width:35rem;
    background: linear-gradient(90deg,transparent 50%,#262525 50%);
}

.circle:nth-child(2){
    width:30rem;
    background-image: url("WhatsApp\ Image\ 2024-04-11\ at\ 15.53.30_5c8dfb7a.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border: .5rem solid white;
    box-shadow:
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem #3877FF;
}

.navlist li a{
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    position:relative;
    font-size:1rem;
}

.navlist li a::after, .navlist .active::after{
    content:"";
    position:absolute;
    background: #fff;
    width: 100%;
    height:.1rem;
    left:0;
    bottom:-5px;
    transform-origin:bottom right;
    transition: transform .5s;
    transform: scaleX(0);
}

.navlist li a:hover::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin:bottom left;  
}